<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html charset=utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/custom.css">
	<link rel="stylesheet" href="/assets/css/prettify.css">
</head>
<body style="background-color: rgba(238,237,227,1)" onload="prettyPrint()">
	<div class="container">
		<div class="row">
			<a href="/" style="text-decoration: none"><h2 id="common-name" class="page-header">刘怡年的博客</h2></a>
		</div>
		<div class="thumbnail multiple-shadow">
			<div class="row">
				{{ content }}
			</div>
		</div>
	</div>
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/prettify.js"></script>
<script>
	$("#id_article_title").addClass("page-header").addClass("col-sm-10").addClass("col-sm-offset-1");
	$(".page-header").css("border-bottom", "1px solid rgb(221, 221, 221)");
	$("#id_article_text").addClass("col-sm-10").addClass("col-sm-offset-1");
	$("#id_article_date").addClass("col-sm-2").addClass("col-sm-offset-9");
	$("#id_article_code").addClass("col-sm-8").addClass("col-sm-offset-2").addClass("prettyprint");
	$("#id_article_reference").addClass("col-sm-10").addClass("col-sm-offset-1");
	$(".article_reference_item").addClass("col-sm-10").addClass("col-sm-offset-1");
</script>
</body>
</html>