---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}
{% assign post = page %}

<div class="post-header mb3">
  <h3>{{ page.title }}</h3>
  <span class="inline">
  <span class="post-meta post-date">{{ page.date | date: "%b %-d, %Y" }}</span>
  {% if page.update_date %}
    <span class="post-meta post-updated">Updated: {{ page.update_date | date: "%b %-d, %Y" }}</span><br>
  {% endif %}

  {% if post.category %}
      {% for site_category in site.data.categories %}
          {% if site_category.slug == post.category %}
              {% assign category = site_category %}
          {% endif %}
      {% endfor %}
      {% if category %}
          {% capture category_content %}<i class="fa fa-book">: <span class="category_label" style="background: {{ category.color }}"><a href="/blog/category/{{ category.slug }}/">{{ category.name }}</a></span></i>{% endcapture %}
      {% endif %}
  {% else %}
      {% assign category_content = '' %}
  {% endif %}

  {% if post.tags.size > 0 %}
      {% capture tags_content %} &nbsp;&nbsp;&nbsp;{% if post.tags.size == 1 %}<i class="fa fa-tag"></i>: {% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
      {% for post_tag in post.tags %}
          {% for data_tag in site.data.tags %}
              {% if data_tag.slug == post_tag %}
                  {% assign tag = data_tag %}
              {% endif %}
          {% endfor %}
          {% if tag %}
              {% capture tags_content_temp %}{{ tags_content }}<span class="tag_label"><a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a></span>{% if forloop.last == false %}, {% endif %}{% endcapture %}
              {% assign tags_content = tags_content_temp %}
          {% endif %}
      {% endfor %}
  {% else %}
      {% assign tags_content = '' %}
  {% endif %}

  <span class="post-meta post-category-and-tag">{{ category_content }}{{ tags_content }}</span>
  </span>
  </br>
</div>

<article class="post-content container">
  {{ content }}
</article>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}

{% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

<!-- {% if site.duoshuo_shortname %} 

  <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"erythrome"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
{% endif %} -->

{% if site.show_related_posts %}
  <h3 class="related-post-title">Related Posts</h3>
  {% for post in site.related_posts %}
    <div class="post ml2">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}

<div class='top'><a href='#'> &#8593; </a></div>

